# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: cloud-build-notifiers/v1
kind: GitHubDeploymentsNotifier
metadata:
  name: example-githubdeployments-notifier
spec:
  notification:
    filter: >-
      "deployment" in build.tags && 
      build.status in [
        Build.Status.QUEUED, 
        Build.Status.WORKING,
        Build.Status.SUCCESS, 
        Build.Status.FAILURE, 
        Build.Status.INTERNAL_ERROR, 
        Build.Status.TIMEOUT, 
        Build.Status.CANCELLED, 
        Build.Status.EXPIRED
      ]
    delivery:
      githubToken:
        secretRef: github-token

  secrets:
    - name: github-token
      value: projects/PROJECT_ID/secrets/SECRET_NAME/versions/latest
